{% extends "account/wrapper.html" %}

{% block content %}


    <article>
        <div class="container" style="margin-top: 5%; margin-bottom: 10%">
            <hr>
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-dark btn-lg">Submit</button>
                    </form>
                </div>
            </div>
            <hr>
         </div>
    </article>



 {% endblock %}